<div>
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2 id="comparisons_table_title">Viikkotaulukko</h2>	
									<button id="showSignals_b" class="btn dropdown-toggle btn-xs btn-default" style="float: right; margin: 4px;" data-type="showSignalsTable">
												Signaalit
											</button>
									<button id="showActivity_b" class="btn dropdown-toggle btn-xs btn-default" style="float: right; margin: 4px;" data-type="showActivityTable">
												Aktiviteetit
											</button>									

	

								</header>

	
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body" style="overflow: auto;">
										<span id="comparisons_p">Viikottainen kokonaisaika per aktiviteetti</span>
										
										<div class="label" style="display: inline-block; margin: 8px; background-color: #568A89; float: right">= Itsenäinen</div>										
										<div class="label" style="display: inline-block; margin: 8px; background-color: #9D5353; float: right">= Ryhmä</div>
										<p style="font-size: 10px; color: red" id="groupnoticetext"></p>
										
										<div class="table" style="font-size: 11px;">
										
											<table class="table table-bordered">
												<thead id="comparisons_table_head">

												</thead>
												<tbody id="comparisons_table_body">

												</tbody>
											</table>
											
										</div>

										<hr>


									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->


							</div>

</div>