<div>
	<button id="launchResetModal" data-toggle="modal" data-target="#resetModal" style="display: none;"></button>
				<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="reset_title">Vahvista toimenpide</h4>
							</div>
							<div class="modal-body" id="reset_body">
									<div class="widget-body">
										<p id="reset_subtitle"><strong>Huomioithan, että tätä toimenpidettä ei voi perua!</strong> </p>
										<p>Alustointi tyhjentää kerämääsi aineiston ja palauttaa kaikki asetukset alkuperäisiksi.</p>
										<hr>
									</div>

							<div class="modal-footer">

								<button type="button" data-type="resetconfirm" class="btn btn-danger" data-dismiss="modal">
									Poista kaikki aineisto
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Peruuta
								</button>								
							</div>

						</div>
					</div>
				</div>
				</div>
</div>				
